<header>
    <div class="container-grid header-flex">
        <div>
            <a routerLink=""><img class="logo" src="assets/images/image-removebg-preview.png" title="Logotipo GameMania"
                alt="Logotipo GameMania"></a>
        </div>

        <div class="header-busca">
            <input type="busca">
        </div>

        <div class="menu">
            <img class="menu-bars-mobile" src="assets/images/searchmobile.svg" alt="Busca">
            <a routerLink="/login"><img class="menu-bars" src="assets/images/user.svg" alt="Sua Conta"></a>
            <img class="menu-bars" src="assets/images/shopping-cart.svg" alt="Carrinho">
            <img class="menu-bars-mobile" onclick="abreFechaMenu();" src="assets/images/menu-burger.svg"
                alt="">
        </div>
    </div>
</header>

<main>
    <section class="submenu">
        <div class="container-grid">
            <nav class="submenuj">
                <a href="#">Vídeo Game</a>
                <a href="#">Controles e Joysticks</a>
                <a href="#">Acessórios</a>
                <a href="#">Colecionáveis</a>
            </nav>
        </div>
    </section>

    <section class="bannermobile">

        <div class="container-grid banner-info-box">
            <article class="banner-info">
                <h1 class="info-title">5% de desconto no pix</h1>
                <h1 class="info-title">parcelamento em até 12 vezes <br>'sem juros no cartão</h1>
            </article>
        </div>

        <section class="propagandasmobile">
            <div class="container-grid">

                <h1 class="info-title">
                    Envio em 1 dia útil
                </h1>

            </div>
        </section>

        <section class="spanmobile">
            <div class="container-grid mobile">

                <button type="button" class="btn btn-primary">video game</button>
                <button type="button" class="btn btn-primary">controles e joysticks</button>
                <button type="button" class="btn btn-primary">acessórios</button>
                <button type="button" class="btn btn-primary">colecionáveis</button>

            </div>
        </section>
    </section>

    <div class="container-grid carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/banner.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/banner.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/banner.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <section class="propagandas">
        <div class="container-grid propagandas">

            <h1>
                Envio em 1 dia útil
            </h1>
            <h1>
                5% de desconto no pix
            </h1>
            <h1>
                Parcelamento em até 12X
            </h1>
        </div>
    </section>
