<section class="produtos">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-md-center">
                <div class="card" style="width: 262px;">
                    <img src="assets/images/super-nintendo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">Super Nintendo Retrô</h1>
                        <p class="card-text oferta"><del>R$500,00</del> R$237,50 <span
                                class="badge">50%OFF</span></p>
                        <p class="card-text">5% à vista no cartão ou pix</p>
                        <p class="card-text"><small>ou até</small> 12x de R$41,67</p>
                        <p class="card-text"><span class="badge enfase">economia de até R$250,00</span></p>
                        <button type="button" class="btn btn-light">comprar</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-md-center">
                <div class="card" style="width: 262px;">
                    <img src="assets/images/super-nintendo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">Super Nintendo Retrô</h1>
                        <p class="card-text oferta"><del>R$500,00</del> R$237,50 <span
                                class="badge">50%OFF</span></p>
                        <p class="card-text">5% à vista no cartão ou pix</p>
                        <p class="card-text"><small>ou até</small> 12x de R$41,67</p>
                        <p class="card-text"><span class="badge enfase">economia de até R$500,00</span></p>
                        <button type="button" class="btn btn-light">comprar</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-md-center">
                <div class="card" style="width: 262px;">
                    <img src="assets/images/super-nintendo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">Super Nintendo Retrô</h1>
                        <p class="card-text oferta"><del>R$500,00</del> R$237,50 <span
                                class="badge">50%OFF</span></p>
                        <p class="card-text">5% à vista no cartão ou pix</p>
                        <p class="card-text"><small>ou até</small> 12x de R$41,67</p>
                        <p class="card-text"><span class="badge enfase">economia de até R$250,00</span></p>
                        <button type="button" class="btn btn-light">comprar</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-md-center">
                <div class="card" style="width: 262px;">
                    <img src="assets/images/super-nintendo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">Super Nintendo Retrô</h1>
                        <p class="card-text oferta"><del>R$500,00</del> R$237,50 <span
                                class="badge">50%OFF</span></p>
                        <p class="card-text">5% à vista no cartão ou pix</p>
                        <p class="card-text"><small>ou até</small> 12x de R$41,67</p>
                        <p class="card-text"><span class="badge enfase">economia de até R$250,00</span></p>
                        <button type="button" class="btn btn-light">comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>