<section class="institucional">
    <div class="container institucional">

        <div class="mapa">
            <img src="assets/images/mapa.PNG" alt="localização">
        </div>
        <div class="informacoes">
            <div>
                <h1>Onde estamos</h1>
                <p><img class="icone-institucional" src="assets/images/marker.svg">Avenida Zelina, 1583, Vila
                    Zelina</p>
                <p class="segunda-linha">São Paulo, SP</p>
                <p><img class="icone-institucional" src="assets/images/phone-call.svg">Telefones: (11) 3114-1240
                </p>
                <p><img class="icone-institucional" src="assets/images/whatsapp.svg">Whatsapp: (11) 99500-0505</p>
                <p><img class="icone-institucional" src="assets/images/edit.svg">contato@gamemania.com.br</p>
                <p class="informacoes-recuo"> Atendimento: Seg à Sex - 09h às 18 h</p>
                <p><img class="icone-institucional" src="assets/images/facebook.svg">Facebook <img
                        class="icone-institucional" src="assets/images/instagram.svg"> Instagram</p>
            </div>

            <div>
                <h1>Institucional</h1>
                <p>Quem somos</p>
                <p>Como comprar</p>
                <p>Envio e Entrega</p>
                <p>Trocas e Devoluções</p>
                <p>Garantia</p>
                <p>Contato</p>
            </div>
        </div>
    </div>
</section>

<section class="institucionalmobile">
    <div class="container institucionalmobile">

        <div class="informacoes">
            <div>
                <h1>contato</h1>
                <h1>informações</h1>

            </div>

            <hr style="height:2px;border-width:0;color:gray;background-color:gray">

            <div style="display: flex; justify-content: center">
                <img class="icone-institucional" src="assets/images/facebook.svg" sizes="30x30"> <img
                    class="icone-institucional" src="assets/images/instagram.svg"> <img class="icone-institucional"
                    src="assets/images/whatsapp.svg">
            </div>
        </div>
    </div>
</section>

<footer class="rodape">
    <div class="container">
        <h1>desenvolvimento: Atlas Tecnologia 2022</h1>
    </div>

</footer>
